# Models (just too large)
data/models_21cmSim
# Emulators (lots of them, only add selectively)
data/trained_emulators_poweremu
# Non-public HERA data
data/observations_HERA_IDR3*
non-public/
# Python stuff
__pycache__/
.ipynb_checkpoints

