# Plots based on IDR3 non-released data
non-public/
# Models and Chains (just too large)
data/models_21cmSim
data/chains
data/saved_samples
# Emulators (lots of them, only add selectively)
data/trained_emulators_poweremu
# Non-public HERA data
images/non-public/
# Python stuff
__pycache__/
.ipynb_checkpoints

