#Plots, chains, emulators, data, too messy analysis scripts, jupyter notebooks
non-public/
data/models_21cmSim
data/SARAS3
data/observations_H1C_IDR3
data/observations_H4C_IDR2
data/globalemu
data/margarine
data/fgivenx
data/trained_emulators_poweremu
scripts/analysis_joint_paper/
images/
# Python stuff
__pycache__/
.ipynb_checkpoints